node_modules/
*/node_modules/

dist/
build/
out/
coverage/

.env
.env.prod
*/.env.prod

npm-debug.log*

.DS_Store
Thumbs.db
.generated/

.vscode/
.idea/
*.swp
*.swo
*~
Session.vim
.lazy.lua
lazy-lock.json 

*.tsbuildinfo

.vite/
*.local

*.db
*.sqlite
*.sqlite-journal
GEMINI.md
