version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: finance_db
    ports:
      - "5432:5432" 
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: financeapp
    volumes:
      - pgdata:/var/lib/postgresql/data 

volumes:
  pgdata:
